{% extends 'base.html.twig' %}

{% block title %}Egames{% endblock %}

{% block body %}

    <div class="card bg-dark text-white text-center">
    <img src="http://localhost/img/c0291a2b1028faaa902d5ec736f4eb291.jpg" class="card-img" alt="...">
      <div class="card-img-overlay">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text">Last updated 3 mins ago</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

<div class="row">
    <div class="">
     <img src="http://localhost/img/assassin’s-creed-valhalla-cover.jpg" class="img" alt="...">
     <img src="http://localhost/img/Minecraft.png" class="img" alt="...">
     <img src="http://localhost/img/crusader-kings-iii-royal-edition-cover.jpg" class="img" alt="...">
     <img src="http://localhost/img/cuphead-cover.jpg" class="img" alt="...">
     <img src="http://localhost/img/cyberpunk-2077-cover.jpg" class="img" alt="...">
     <img src="http://localhost/img/dark-souls-3-cover.jpg" class="img" alt="...">
     <img src="http://localhost/img/destiny-2-edition-legendaire-cover.jpg" class="img" alt="...">
     <img src="http://localhost/img/dirt-rally-20-game-of-the-year-edition-cover.jpg" class="img" alt="...">
     <img src="http://localhost/img/doom-cover.jpg" class="img" alt="...">
     <img src="http://localhost/img/dragon-ball-xenoverse-2-cover.jpg" class="img" alt="...">
     <img src="http://localhost/img/escape-from-tarkov-beta-cover.jpg" class="img" alt="...">
     <img src="http://localhost/img/euro-truck-simulator-2-going-east-cover.jpg" class="img" alt="...">
     <img src="http://localhost/img/euro-truck-simulator-2-road-to-the-black-sea-cover.jpg" class="img" alt="...">
     <img src="http://localhost/img/f1-2020-cover.jpg" class="img" alt="...">
     <img src="http://localhost/img/far-cry-5-cover.jpg" class="img" alt="...">
     <img src="http://localhost/img/football-manager-2021-cover.jpg" class="img" alt="...">
     <img src="http://localhost/img/forza-horizon-4-pc-xbox-one-cover.jpg" class="img" alt="...">
     <img src="http://localhost/img/grand-theft-auto-v-premium-online-edition-cover.jpg" class="img" alt="...">
     <img src="http://localhost/img/green-hell-cover.jpg" class="img" alt="...">
     <img src="http://localhost/img/halo-the-master-chief-collection-cover.jpg" class="img" alt="...">
     <img src="http://localhost/img/hell-let-loose-early-access-cover.jpg" class="img" alt="...">
     <img src="http://localhost/img/hitman-2-gold-edition-cover.jpg" class="img" alt="...">
     <img src="http://localhost/img/les-sims-4-cover.jpg" class="img" alt="...">
     <img src="http://localhost/img/monster-hunter-world-cover.jpg" class="img" alt="...">
     <img src="http://localhost/img/monster-hunter-world-iceborne-cover.jpg" class="img" alt="...">
     <img src="http://localhost/img/planet-coaster-cover.jpg" class="img" alt="...">
     <img src="http://localhost/img/red-dead-redemption-2-standard-edition-cover.jpg" class="img" alt="...">
     <img src="http://localhost/img/sea-of-thieves-pc-xbox-one-cover.jpg" class="img" alt="...">
     <img src="http://localhost/img/squad-cover.jpg" class="img" alt="...">
     <img src="http://localhost/img/the-crew-2-cover.jpg" class="img" alt="...">
     <img src="http://localhost/img/the-escapists-2-cover.jpg" class="img" alt="...">
     <img src="http://localhost/img/tom-clancys-rainbow-six-siege-deluxe-edition-cover.jpg" class="img" alt="...">
    </div>

    <div class="card col-md-4 " style="max-width: 540px; background-color: #f5f5f510 !important">
      <div class="row no-gutters">
          <div class="col-md-5">
          <img src="http://localhost/img/assassin’s-creed-valhalla-cover.jpg" class="card-img" alt="...">
          </div>
          <div class="col-md-7 show" >
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
      </div>
    </div>

    <div class="card col-md-4 " style="max-width: 540px; background-color: #f5f5f500 !important">
    <div class="row no-gutters">
        <div class="col-md-5">
        <img src="http://localhost/img/assassin’s-creed-valhalla-cover.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-7 hide" style="background-color: #f5f5f500 !important">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        </div>
    </div>
    </div>
    <div class="card col-md-4 " style="max-width: 540px; background-color: #f5f5f500 !important">
    <div class="row no-gutters">
        <div class="col-md-5">
        <img src="http://localhost/img/assassin’s-creed-valhalla-cover.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-7 hide" style="background-color: #f5f5f500 !important">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        </div>
    </div>
    </div>
</div>

{% endblock %}
